<div
  class="photobooth">
  <form
    name="form"
    ng-submit="join()">
    <auto-selfy
      on-error="onError(error)"
      on-selfy="onSelfy(selfy)"></auto-selfy>
    <div class="form-group">
      <input
        type="text"
        name="nickname"
        class="form-control"
        ng-model="nickname"
        placeholder="Nickname">
    </div>
    <div class="form-group">
      <input
        type="text"
        name="baseline"
        class="form-control"
        ng-model="baseline"
        placeholder="Baseline">
    </div>
    <button
      type="submit"
      class="btn primary">Join</button>
  </form>
</div>
