<!doctype html>
<html>
  <head>
    <title>Selftym</title>
  </head>
  <body>
    <div id="wall">
      
    </div>
    <form>
      <label>Mood:</label>
      <input type="text" name="mood" id="mood">
      <button type="submit">Update</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('form').submit(function(){
        socket.emit('user update',
          JSON.stringify({
            mood: $('#mood').val()
          }));
        return false;
      });
      socket.on('user update', function(data){
        console.log(data);
        //$('#messages').append($('<li>').text(msg));
      });
    </script>
  </body>
</html>
